# Nextflow
work/
.nextflow/
.nextflow.log*
results*/
results_test/

# nf-test
.nf-test/
.nf-test.log

# Python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
dist/
.venv/
venv/

# R
.Rhistory
.RData
.Ruserdata
*.Rproj.user/

# Quarto
_site/
/.quarto/
training/_site/
training/.quarto/

# OS
.DS_Store
Thumbs.db

# Conda
.conda/

# Logs
*.log
