manifest {
    name            = 'ilovetesting/minimal'
    author          = 'chrstphdm'
    description     = 'Pipeline pédagogique de formation aux tests Nextflow'
    version         = '0.1.0'
    nextflowVersion = '>=24.04.0'
    doi             = ''
}

params {
    input       = null
    outdir      = "results"
    min_length  = 20
    min_quality = 20
}

profiles {
    test {
        params.input       = "${projectDir}/../../data/sample.fastq"
        params.outdir      = "${projectDir}/results_test"
        params.min_length  = 20
        params.min_quality = 20

        process.resourceLimits = [
            cpus: 2, memory: "2.GB", time: "30.m"
        ]
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '--platform linux/amd64'
    }

    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        // Use this profile with: nextflow run main.nf -profile test,apptainer
        // Or: nf-test test --profile apptainer
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    conda {
        conda.enabled = true
    }
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: "copy"
    ]

    withLabel: process_low {
        cpus   = 1
        memory = '1.GB'
        time   = '10.m'
    }

    withLabel: process_medium {
        cpus   = 2
        memory = '4.GB'
        time   = '30.m'
    }
}
